<div class="small-card-container">
    <div class="header">
        <p>{{dayOfWeek}}</p>
    </div>
    <div class="left-small-card">
        <h2>{{temp}}</h2>
        <div>
            <p>Umidade: {{humidity}}%</p>
            <p>Vento: {{wind}} Km/h</p>
        </div>
        <p>{{title}} - <span>{{country}}</span></p>
    </div>
    <div class="right-small-card">
        <div class="imgIcon">
            <img src="{{srcIcon}}" alt="">
        </div>
        <p>{{description}}</p>
    </div>
    <div class="footer">
        <p>{{hours}}</p>
        <p>{{date}}</p>
    </div>
</div>