<div class="container-home">
    <div class="charging-bars-container">
        <app-loading></app-loading>
    </div>
    
    <app-big-card 
        [country]="cityWeather.city.country"
        [title]="cityWeather.city.name"
        [description]="cityWeather.weather.description"
        [temperature]="cityWeather.weather.temp"
        [icon]="cityWeather.weather.icon"
    >
    </app-big-card>

    <div 
        class="small-cards"
    >
        <app-small-card
            *ngFor="let i of cityWeatherDays.list"

            [title]="cityWeatherDays.city.name"
            [country]="cityWeatherDays.city.country"

            [day]="i.dt_txt"
            [temperature]="i.temp"
            [humidity]="i.humidity"
            [wind]="i.wind_speed"
            [icon]="i.icon"
            [description]="i.description"
        ></app-small-card>
    </div>
    
    <div>
        <input type="text" [formControl]="searchControl" (keyup)="keyUpEnter($event)">

        <button [disabled]="!searchControl.valid" (click)="searchToday()">Pesquisar</button>
    </div>
</div>